body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  border: 0px
  background-color:#f9f9f9;
}

.top-container {
  padding-top: 100px;
  position: relative;
  margin: 0px;
  background-color: #beebe9;
}

.upper-cloud {
  position: absolute;
  left: 300px;
  top: 400px;
  height: 100px;
  width: 150px;
}

.lower-cloud {
  position: absolute;
  right: 300px;
  top: 120px;
  height: 100px;
  width: 150px;
}

.ini {
  margin: 0, auto;
  font-family: 'Dancing Script', cursive;
  font-size: 55px;
  text-shadow: 2px 2px grey;
  padding-top: 100px;
}

h3 {
  margin: 0, auto;
  font-family: 'Inconsolata', monospace;
  font-size: 40px;
}

.pro {
  color: cyan;
}

.mountain {
  height: 750px;
  width: 1000px;
  margin: 0px;
}

.profile {
  border-radius: 100%;
  width: 250px;
  height: 250px;
}

table {
  text-align: center;
}

.python {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  padding-right: 30px;
  margin: 0px, auto;
}

.paragraph-1 {
  font-size: 20px;
  padding-left: 30px;
  margin: 0, auto;
}

.c-language {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  padding-right: 30px;
  margin: 0px, auto;
}

.paragraph-2 {
  font-size: 20px;
  padding-left: 30px;
  margin: 0, auto;
}

.paragraph {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.durgapur {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  padding-right: 30px;
  margin: 0px, auto;
}

.paragraph-3 {
  font-size: 20px;
  padding-left: 30px;
  margin: 0, auto;
}

hr {
  border-top: 5px dotted grey;
  width: 5%;
}

.btn:hover {
  background-color: #a8e6cf;
  border-radius: 100%;
  font-size: 30px;
  border-radius: 100%;
  text-decoration: none;
  font-variant: small-caps;
  color: #be79df;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 8px;
  padding-right: 10px;
}

.btn {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 8px;
  padding-right: 10px;
  background-color: #beebe9;
  font-size: 30px;
  border-radius: 100%;
  text-decoration: none;
  font-variant: small-caps;
}

.third-container {
  padding-bottom: 25px;
}

.heading {
  font-family: 'Jost', sans-serif;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  font-kerning: auto;
  font-variant: small-caps;
}

.footer-link {
  color: #be79df;
  text-decoration: none;
  font-size: 15px;
}
.footer-link:hover{
  color: blue;
  text-decoration: none;
  font-size: 20px;
}

.bottom-container {
  background-color: #beebe9;
  margin: 0px;
  padding: 10px;
}
.copyright{
  font-size: 15px;
}
.heder{
  padding: 100px;
  display: inline-block;
  width: 100%;
  background-color: #beebe9;
  text-align: left;

}

ul{
  list-style-type: none;
  text-decoration: none;
  background-color: #beebe9;
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: left;
  transition-property: all;
  transition-timing-function: linear;
}
li{
  text-decoration: none;
  display: inline-block;
}
a{
  text-decoration: none;
}
.home{
  font-size: 2rem;
  color:#c060a1;
  padding-left:30px;
  padding-right: 30px;
}
.about{
font-size: 1rem;
color:#12947f;
padding-left:30px;
padding-right: 30px;
}
.contact{
font-size: 1rem;
color:#12947f;
padding-left:30px;
padding-right: 30px;
}
.home:hover{
  font-size: 2rem;
  color: #c060a1;
  padding-left:30px;
  padding-right: 30px;
}
.about :hover{
  font-size: 2rem;
  color: #c060a1;
  padding-left:30px;
  padding-right: 30px;
}
.contact:hover{
  font-size: 2rem;
  color: #c060a1;
  padding-left:30px;
  padding-right: 30px;
}
.first-image{
  text-align: right;
  border-radius: 62.5%;
  image-resolution: from-image;
  display: block;
  float: right;
}
